body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

a {
  color: grey;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbarList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px 70px;
}

.navbarItem {
  cursor: pointer;
  font-weight: 600;
  margin-right: 80px;
}
.navbarItem a:hover {
  color: #5432e7;
}

.navbarLogo {
  cursor: pointer;
  padding-right: 30px;
  width: 200px;
}
.home {
  background-image: url("../assets//images/home.png");
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 20px;
  min-height: calc(100vh - 80px);
  position: relative;
}

.homeContainer {
  bottom: 50px;
  left: 50px;
  max-width: 30%;
  position: absolute;
}
.homeLogo {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  width: 175px;
}

.homeTitle,
.homeSubtitle {
  color: #5432e7;
}

.homeTitle {
  font-size: 40px;
  margin-top: 20px;
}

.homeSubtitle {
  font-size: 60px;
  line-height: 1.2;
}

.homeDescription {
  font-size: 14px;
}

.loginContainer {
  display: flex;
  margin: auto;
  max-width: 1110px;
  padding-top: 60px;
}
.loginTitle {
  color: #5432e7;
  font-size: 60px;
}

.loginSubtitle {
  color: grey;
}

.loginForm {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 50px;
}
.loginFormInputContainer {
  position: relative;
}
.loginFormInput {
  border-radius: 30px;
  border: 2px solid grey;
  margin-top: 20px;
  outline: none;
  padding: 10px;
  width: 300px;
}
.inputIcon {
  position: absolute;
  right: 10px;
  top:28px;
  z-index: 1000;
}
.loginLeftSide {
  width: 50%;
}

.loginRightSide {
  background-color: grey;
  height: 500px;
  margin-left: 20px;
  width: 500px;
}

.loginFormCheckboxContainer {
  padding-top: 20px;
}
.loginFormCheckbox{
  cursor: pointer;
}

.loginFormButton {
  align-items: center;
  align-self: flex-end;
  background: linear-gradient(
    90deg,
    rgba(57, 0, 143, 1) 0%,
    rgba(82, 29, 224, 1) 100%
  );
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  width: 50px;
}
.buttonIcon{
  color:white;
  cursor: pointer;
}
